SETTRADE_APP_ID=
SETTRADE_APP_SECRET=
SETTRADE_APP_CODE=
SETTRADE_BROKER_ID=
SETTRADE_ENV=prod
LUNA_GATEWAY_URL=https://luna-execution-gateway-production.up.railway.app
LUNA_GATEWAY_KEY=
LUNA_SYMBOLS=AOT,ADVANC,CPALL,PTT,KBANK,BDMS
